*{
	margin:0;
	padding:0;
}
body{
	background-image:url(../images/textura.png);
	color:white;
	font-family: "segoe print";
	font-size:14px;
}
.container{
	width: 300px;
	margin: 0 auto;
}
.menu input, select{
	font-family: "segoe print";
	font-size:18px;
	margin-bottom:5px;
}
.menu select{
	width:222px;
}
.menu:first-child{
	margin-top:200px;
}